<div class="phoneContMain">
  <div class="phoneContMain__content">
    <div class="phoneContMain__topChat">
      
    </div>
    <!-- <div class="phoneContMain__myChat">
      <p class="phoneContMain__myChat--dialogElement">
        That sounds great. I’d be happy with that.
      </p>
      <p class="phoneContMain__myChat--dialogElement">
        Could you send over some pictures of your dog, please?
      </p>
    </div> -->
    <!-- <div class="imagCont">
      <picture><img src="" alt="dog1" /></picture>
      <picture><img src="" alt="dog2" /></picture>
      <picture><img src="" alt="dog3" /></picture>
    </div>
    <div>
      <p>Here are a few pictures. She’s a happy girl!</p>
      <p>Can you make it?</p>
    </div>
    <div class="phoneContMain__myChat">
      <p class="phoneContMain__myChat--dialogElement">
        She looks so happy! The time we discussed works. How long shall I take her out for?
      </p>
    </div> -->
  </div>
</div>
