<div class="phoneContMain">
  <div class="phoneContMain__content">
    <div class="phoneContMain__topChat">
      <input type="image" src="assets/icons8-arrow-50.png" alt="arrow" />
      <picture
        ><img
          class="phoneContMain__topChat--userChat"
          src="assets/avatar.jpg"
          alt="perfil"
      /></picture>
      <div>
        <h2>Samuel Green</h2>
        <small>Available to Walk</small>
      </div>
      <input type="image" src="assets/icons8-menu-78(1).png" alt="points" />
      <div class="whiteComponent"></div>
    </div>
    <div class="phoneContMain__myChat">
      <p class="phoneContMain__myChat--dialogElement">
        That sounds great. I’d be happy with that.
      </p>
      <p class="phoneContMain__myChat--dialogElement">
        Could you send over some pictures of your dog, please?
      </p>
    </div>
    <div class="imagCont">
      <picture><img src="assets/dog-image-1.jpg" alt="dog1" /></picture>
      <picture><img src="assets/dog-image-2.jpg" alt="dog2" /></picture>
      <picture><img src="assets/dog-image-3.jpg" alt="dog3" /></picture>
    </div>
    <div class="phoneContMain__yourChat">
      <p class="phoneContMain__myChat--dialogElement">Here are a few pictures. She’s a happy girl!</p>
      <p class="phoneContMain__myChat--dialogElement">Can you make it?</p>
    </div>
    <!-- <div class="phoneContMain__myChat">
      <p class="phoneContMain__myChat--dialogElement">
        She looks so happy! The time we discussed works. How long shall I take her out for?
      </p>
    </div> -->
  </div>
</div>
