@import '../../../styles'
.phoneContMain
 width: 230px
 height: 400px
 border-radius: 25px
 padding: 10px
 &__content
  background: $White
  padding: 7px
  width: auto
  height: 95%
  border-radius: 25px
  display: grid
  grid-template-columns: repeat(12,1fr)
  grid-template-rows: repeat(12, 1fr)
  gap: 10px
  -webkit-box-shadow: 10px 10px 5px 0px rgba(217,214,217,1)
  -moz-box-shadow: 10px 10px 5px 0px rgba(217,214,217,1)
  box-shadow: 10px 10px 5px 0px rgba(217,214,217,1)
 &__topChat
  background-image: linear-gradient(to right, #8838ff, #a439ff, #bd3bff, #d43eff, #e942ff)
  grid-column: 1/13
  grid-row: 1/4
  border-radius: 25px 25px 10px 10px
  display: grid
  grid-template-columns: auto auto 1fr auto
  grid-template-rows: 1fr
  align-items: center
  gap: 10px
  padding: 20px 10px 10px 10px
  input:nth-child(1)
   width: 15px
  &--userChat
   border: 1px solid $White
   border-radius: 50%
   width: 25px
   height: 25px
   grid-column: 1/2
  h2
   grid-column: 2/3
   color: $White
   font-size:  8px
  small
   color: $White
   font-size: 8px
  input:nth-child(4)
   width: 15px
 .whiteComponent
  width: 120px
  height: 22px
  position: absolute
  border-radius: 40px
  background: $White
  top: 10px
  left: 70px
 &__myChat
  grid-column: 1 / span 7
  grid-row: 5/5
  background: pink
  color: $VeryDarkDesaturatedVioletmainheading
  font-size:  8px

.imagCont
  display: flex
  flex-direction: row
  height: 100%
  grid-column: 4/13
  grid-row: 6/6
  justify-content: space-between
  picture
    img
      width: 50px
      height: 100%
      border-radius: 10px

.phoneContMain__yourChat
  background: $White
  font-size: 8px
  grid-column: 5/13
  grid-row: 7/7

.phoneContMain__myChat2
  background: pink
  grid-column: 1/8
  grid-row: 8/8
  color: $VeryDarkDesaturatedVioletmainheading
  font-size:  8px

.priceContent
  grid-column: 1/10
  grid-row: 9/9
  display: grid
  grid-template-columns: auto 1fr auto
  grid-template-rows: 1fr
  background-image: linear-gradient(to right, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff)
  padding: 10px
  border-radius: 10px
  align-items: center
  gap: 0 10px
  div
    width: 15px
    height: 15px
    border: 1px solid $White
    border-radius: 50%
  p
    color: $White
    font-size:  8px
  h3
    color: $White

.priceContent2
  grid-column: 1/10
  grid-row: 10/10
  display: grid
  grid-template-columns: auto 1fr auto
  grid-template-rows: 1fr
  background-image: linear-gradient(to right, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff)
  padding: 10px
  border-radius: 10px
  align-items: center
  gap: 0 10px
  div
    width: 15px
    height: 15px
    border: 1px solid $White
    border-radius: 50%
  p
    color: $White
    font-size:  8px
  h3
    color: $White