@import '../styles'

.mainContainer
 width: 100%
 height: 100vh
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 60% 40%

.phone
 display: grid
 grid-template-columns: repeat(2,1fr)
 &__sidePurple
 &__sideWhite
 &__contPhone
  position: absolute
  z-index: 100
  width: 100px
  height: 100px
  justify-content: center
  top: 50px
  right: 215px
 &__purpleElement
  background: $LightViolet
  width: 100%
  height: 100%
  border-bottom-right-radius: 95%

.sideText

@media screen and ( min-width: 1440px)
 .mainContainer
  grid-template-columns: repeat(2,1fr)
  grid-template-rows: 1fr
